<div>

    <form method="POST" action="/scan/" class="">
        <div class="clearfix">
            <label for="name">doc name</label>
            <div class="input"><input name="name" id="name"></div>
        </div>

        <div class="clearfix">
            <label for="desc">doc description</label>
            <div class="input"><textarea name="desc" id="desc"></textarea></div>
        </div>

        <div class="clearfix">
            <label for="keywords">keywords</label>
            <div class="input"><input name="keywords" id="keywords"></div>
        </div>

        <div class="well">
            <input type="submit" class="btn large primary"/>
        </div>
    </form>
    
</div>

<div>
    <dl>
    <%
    if (docs) {
        for (var docId=0; docId < docs.length; docId++) {
    %>
        <dt>
            <h4><a href="<%= docs[docId].link%>"><%= docs[docId].name%></a>
            <%
                if (docs[docId].keywords) {
                    var keywords = docs[docId].keywords;
                    for (var key = 0; key < keywords.length; key++) {
            %>
                <a href="/keyword/<%= keywords[key].trim()%>" class="label"><%= keywords[key].trim()%></a>
            <%
                    }
                }
            %>
            </h4>
            <%= new Date(docs[docId].timestamp).toLocaleString() %>
        </dt>
        <dd>
            <p>
                <%= docs[docId].description %>
            </p>
            <a href="/scan/<%= docs[docId].doc_id%>">properties</a>
        </dd>
    <%
            }
        }
    %>
    </dl>
</div>